.benefit {
    border: 2px solid $purple;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 351px;
    height: 298px;
    margin-top: 20px;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        width: 80px;
        height: 80px;

        img {
            height: 100%;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
    }

    &__title {
        font-family: $poppinsFont;
        font-weight: $semibold;
        font-size: $fontSizeText;
        color: $darkGray;
        margin: 10px 0;
        text-align: center;
    }

    &__text {
        font-family: $poppinsFont;
        font-size: $fontSizeText - 0.125;
        font-weight: $light;
        color: $darkGray;
    }
}