.button {
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    max-width: 345px;
    transition: all ease-in 0.2s;

    p {
        font-family: $poppinsFont;
        font-weight: $semibold;
        font-size: $fontSizeHeader;
    }

    &--yellow {
        background-color: $yellow;

        p {
            color: $purple;
        }
    }

    &:hover {
        background-color: $purple;
        p {
            color: $yellow;
        }

        transition: all ease-in 0.2s;
    }
}

/*@media (max-width: 1000px) {
    .button {
        max-width: none;
    }
}*/
