.copyRight {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    &__container {
        width: 100%;
        max-width: $containerMaxWidth;
        padding: $containerPadding;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 100%;
            max-width: 340px;
        }

        p {
            font-family: $poppinsFont;
            font-size: $fontSizeCopyRight;
            font-weight: $light;
            color: $darkBlue;
            white-space: nowrap;
            width: fit-content;
        }
    }
}

@media (max-width: 560px) {
    .copyRight {
        &__container {
            img {
                max-width: 250px;
            }
        }
    }
}

@media (max-width: 560px) {
    .copyRight {
        &__container {
            img {
                max-width: 175px;
            }
        }
    }
}

@media (max-width: 360px) {
    .copyRight {
        &__container {
            img {
                max-width: 130px;
            }

            p {
                font-size: $fontSizeCopyRight - 0.2;
            }
        }
    }
}