@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$poppinsFont: 'Poppins', sans-serif;
$light: 300;
$semibold: 600;
$bold: 700;
$fontSizeHeader: 1.25rem;
$fontSizeTitle: 3rem;
$fontSizeText: 1rem;
$fontSizeSectionTitle: 2.5rem;
$fontSizeRequirement: 1.25rem;
$fontSizeExpertTitle: 2.5rem;
$fontSizeExpertText: 1.875rem;
$fontSizeFooterTitle: 1.5rem;
$fontSizeBenefitText: 0.875rem;
$fontSizeCopyRight: 0.875rem;
