.requirement {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 20px 0;

    &__number {
        width: 200px;

        img {
            width: 100%;
            max-width: none;
        }
    }

    &__text {
        margin-top: 10px;
        font-family: $poppinsFont;
        font-weight: $light;
        font-size: $fontSizeRequirement;
        color: $darkGray;
        width: 100%;
        max-width: 256px;
        margin-left: 20px;
    }
}

@media (max-width: 430px) {
    .requirement {
        &__number {
            width: 150px;
    
            img {
                width: 100%;
                max-width: none;
            }
        }

        &__text {
            margin-left: 15px;
            max-width: none;
        }
    }
}